<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Data Structures Visualization-Front</title>
  <link rel="stylesheet" type="text/css" href="../scss/ds.scss">
  <script type="text/javascript" src="../ts/ds.ts"></script>
</head>

<body>

  <header>header</header>
  <nav class="main-nav">nav</nav>

  <aside class="left-bar">

    <div class="aside-wrapper">
      <form class="enter-form">
        form goes here
      </form>
    </div>

    <div class="output aside-wrapper">
      <!--insert values here-->
      input list
    </div>
    <div class="aside-wrapper">
      download items here
    </div>

  </aside>


  <section class="right-section">
    <canvas id="canvas"></canvas>
    canvas above
  </section>

</body>

</html>