<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Data Structures Visualization</title>
  <link rel="stylesheet" type="text/css" href="../scss/ds.scss">
  <script type="text/javascript" src="../ts/stack.ts"></script>
</head>

<body>
  <div class="container">
    <header><h1>Data Structure Visualizer: Stack</h1></header>
    <nav class="main-nav">
      <a href="/"><h2>Home</h2></a>
      <a href="/stack"><h2>Stack</h2></a>
      <a href="/binary-tree"><h2>Binary Tree</h2></a>
      <a href="/avl-tree"><h2>AVL Tree</h2></a>
    </nav>

    <aside class="left-bar">

      <div class="form">
        <h2>Stack Methods</h2>
        <form class="enter-form" id="enter-form">

        </form>
      </div>

      <div class="output aside-wrapper">
        <!--insert values here-->
        input list
      </div>
      <div class="aside-wrapper">
        download items here
      </div>

    </aside>


    <section class="right-section">
      <canvas id="draw"></canvas>
      canvas above but memes
    </section>

  </div>
</body>

</html>