$dark-grey:  #292D3E;
$light-grey: rgb(202, 206, 221);
$sub-header-color: rgb(54, 67, 128);
$nav-select: rgb(98, 202, 209);

body {
  font-family: Arial, Helvetica, sans-serif;
}

#nav-active {
  color: $nav-select;
}